<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ごきぶりポーカー / Kakerlakenpoker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
    このゲームは２～６人用となっています。<br/>
    <div id='app2'>
      <div id='entry' style='display:none'>
        <input id="cName_inp" placeholder="ニックネームを入力してください"><br/>
        <br/>
        <button id='createGame'>ゲームを作る(Make a Game)</button><br/>
        Game ID: <span id='gId'></span><br/>
        Game Status: <span id='gStatus'></span><br/>
        <hr/>
        <button id="joinGame">ゲームに参加する(Join the Game)</button><br/>
        <input id="gId_inp" placeholder="GameIDを入力してください"><br/>
        Your ID: <span id='cId'></span><br/>
        Your Name: <span id='cName'></span><br/>
        <hr/>
        <h2>Member Applying</h2>
        <span id='applyingList'></span><br/>
      </div>
      <div id='sec1' style='display:none'>
        <button id="startGame">ゲームを始める(Let's start the Game)</button><br/><br/>
        <hr/>
      </div>
      <div id='sec2' style='display:none'>
        Your Cards:<br/>
        <ul id='holdcards' class='holdcards'></ul></br/>
        Player's Stacked Cards:<br/>
        <div id='playerinformation'></div><br/>
        Routed cards Information:<br/>
        <div id='routed_cards'></div>
        <hr/>
      </div>
      <div id='sec4' style='display:none'>
        Which card do you wanna send to someone?:<br/>
        <button id="send">渡す(send)</button><br/>
        下記から送りたいカードと、送り先を選択して「渡す」ボタンを押してください。<br/>
        <hr/>
      </div>
      <div id='sec5' style='display:none'>
        <b>「<span id='fromName'></span>」さん</b>から<b>「<span id='fromType'></span>」</b>としてカードが届きました<br/>
        <br/>
        Do you wanna answer the card?:<br/>
        「合っている」「間違っている」ボタンを選択して押してください。<br/>
        <button id="correct">合っている(correct)</button>&nbsp;&nbsp;
        <button id="wrong">間違っている(wrong)</button><br/>
        <br/>
        <button id="confirm">確認する(confirm)</button><br/>
        カードを確認したい場合は、「確認する」ボタンを押してください。<br/>
        カードを確認したら「渡す」しかできなくなります<br/>
        <div id='sec6' style='display:none'>
        <b>「<span id='confirmedcard'></span>」</b>でした。
        </div>
        <br/>
        Do you wanna pass the card?:<br/>
        <button id="send2">渡す(send)</button><br/>
        下記から種類を指定し、送り先を選択して「渡す」ボタンを押してください。<br/>
        <hr/>
      </div>
      <div id='sec3' style='display:none'>
        <select name='candidatelists' id='candidatelists'></select><br/>
        <br/>
        <select name='typelists' id='typelists'>
          <option value=0>ごきぶり</option>
          <option value=1>くも</option>
          <option value=2>かめむし</option>
          <option value=3>ねずみ</option>
          <option value=4>さそり</option>
          <option value=5>はえ</option>
          <option value=6>こうもり</option>
          <option value=7>かえる</option>
        </select><br/>
      </div>
      <br/>
      <span id='message'></span><br/>
    </div>
  </body>
</html>
