<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ごきぶりポーカー / Kakerlakenpoker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script Language='JavaScript'>
    var cardtype = {
      0: '{{ gettext('type_1') }}',
      1: '{{ gettext('type_2') }}',
      2: '{{ gettext('type_3') }}',
      3: '{{ gettext('type_4') }}',
      4: '{{ gettext('type_5') }}',
      5: '{{ gettext('type_6') }}',
      6: '{{ gettext('type_7') }}',
      7: '{{ gettext('type_8') }}',
    }
    </script>
  </head>
  <body>
    このゲームは２～６人用となっています。<br/>
    <div id='app2'>
      <div id='entry' style='display:none'>
        <input id="cName_inp" placeholder="ニックネームを入力してください"><br/>
        <br/>
        {% if gameid %}
        {% else %}
        <button id='createGame'>ゲームを作る(Make a Game)</button><br/>
        Game ID: <span id='gId'></span><br/>
        <input type='text' id='uriWgId' /><input type='button' id='clickCopy' value='copy'><br/>
        {% endif %}
        Game Status: <span id='gStatus'></span><br/>
        <hr/>
        <button id="joinGame">ゲームに参加する(Join the Game)</button><br/>
        {% if gameid %}
        <input type='hidden' id="gId_inp" value='{{ gameid }}'><br/>
        {% else %}
        <input id="gId_inp" placeholder="GameIDを入力してください"><br/>
        {% endif %}
        Your ID: <span id='cId'></span><br/>
        Your Name: <span id='cName'></span><br/>
        <hr/>
        <h2>Member Applying</h2>
        <span id='applyingList'></span><br/>
      </div>
      <div id='sec1' style='display:none'>
        <button id="startGame">ゲームを始める(Let's start the Game)</button><br/><br/>
        <hr/>
      </div>
      <div id='sec2' style='display:none'>
        Your Cards:<br/>
        <ul id='holdcards' class='holdcards'></ul></br/>
        Player's Stacked Cards:<br/>
        <div id='playerinformation'></div><br/>
        Routed cards Information:<br/>
        <div id='routed_cards'></div>
        <hr/>
      </div>
      <div id='sec4' style='display:none'>
        {{ gettext('txt_explain1') }}:<br/>
        <button id="send">{{ gettext('btn_send') }}</button><br/>
        {{ gettext('txt_explain2') }}<br/>
        <hr/>
      </div>
      <div id='sec5' style='display:none'>
        <b>「<span id='fromName'></span>」</b>{{ gettext('txt_sendgmessage') }}<b>「<span id='fromType'></span>」</b><br/>
        <br/>
        {{ gettext('txt_explain3') }}:<br/>
        {{ gettext('txt_explain4') }}<br/>
        <button id="correct">{{ gettext('btn_correct') }}</button>&nbsp;&nbsp;
        <button id="wrong">{{ gettext('btn_wrong') }}</button><br/>
        <br/>
        <button id="confirm">{{ gettext('btn_confirm') }}</button><br/>
        {{ gettext('txt_explain5') }}<br/>
        {{ gettext('txt_explain6') }}<br/>
        <div id='sec6' style='display:none'>
        The card is <b>「<span id='confirmedcard'></span>」</b>
        </div>
        <br/>
        {{ gettext('txt_explain7') }}:<br/>
        <button id="send2">{{ gettext('btn_send') }}</button><br/>
        {{ gettext('txt_explain8') }}<br/>
        <hr/>
      </div>
      <div id='sec3' style='display:none'>
        <select name='candidatelists' id='candidatelists'></select><br/>
        <br/>
        <select name='typelists' id='typelists'>
          <option value=0>{{ gettext('type_1') }}</option>
          <option value=1>{{ gettext('type_2') }}</option>
          <option value=2>{{ gettext('type_3') }}</option>
          <option value=3>{{ gettext('type_4') }}</option>
          <option value=4>{{ gettext('type_5') }}</option>
          <option value=5>{{ gettext('type_6') }}</option>
          <option value=6>{{ gettext('type_7') }}</option>
          <option value=7>{{ gettext('type_8') }}</option>
        </select><br/>
      </div>
      <br/>
      <span id='message'></span><br/>
    </div>
  </body>
</html>
